
{% extends 'base.html' %}

{% block body %}


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% if melons %}

                {% for info in melons.values() %}
                    {% for name, values in info.items() %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ values[1] }}</td>
                        <td>{{ "${:0.2f}".format(values[0]) }}</td>
                        <td>{{ "${:0.2f}".format(values[2]) }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                
            {% endif %}
        </tbody>
    </table>

    <h3>Total: {{ "${:0.2f}".format(total) }} </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
